@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
:root {
  --bg-color: #ffffff;
  --bg2-color: #fabe4c;
  --text-color1: #363958;
  --text-color2: #3e3e3e;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

main section {
  margin-top: 130px;
  margin-bottom: 130px;
}

header {
  background-color: #fffbf0;
}

span {
  color: var(--text-color1);
}

/* Navigation Section */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul,
nav h3 {
  font-size: 35px;
  font-weight: 700;
  margin: 30px 0;
  color: #a4bc46;
}
nav ul {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  gap: 30px;
  color: #3c3c3c;
  text-decoration: none;
  list-style: none;
}
.nav-icon {
  display: none;
}

/* Header Section */
#banner {
  height: 754px;
  padding: 0 150px;
  color: var(--bg-color);
}
.home-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.home-content {
  width: 50%;
}
.home-title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 80px;
  font-weight: 400;
  color: var(--bg2-color);
}
.home-title span {
  font-family: "Bebas Neue", sans-serif;
}
.home-description {
  font-size: 16px;
  font-weight: 400;
  width: 457px;
  color: var(--text-color2);
  margin-bottom: 40px;
}
.btn {
  color: var(--bg-color);
  font-size: 20px;
  font-weight: 700;
  padding: 18px 30px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    rgb(164, 188, 70),
    rgb(133, 160, 25) 100%
  );
}

.btn i {
  font-size: 25px;
  margin-right: 8px;
}

.home-image img {
  width: 100%;
}

.section-title {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 30px;
}

/* WoMan Jacket & Man Jacket */
#jacket h3 {
  font-family: "Bebas Neue", sans-serif;
}
.woman-jacket-container {
  width: 85%;
  max-width: 1190px;
  margin: 0 auto;
}
.jackets {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.jacket {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 370px;
  height: 550px;
  padding: 20px 18px;
  border-radius: 20px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
  background: rgb(255, 255, 255);
}
.jacket-image {
  padding: 25px;
  border-radius: 20px;
  background: rgb(241, 241, 241);
}
.jacket-image img {
  width: 293px;
  height: 293px;
  border: 1px dashed #ddd;
}
.jacket-content {
  margin-top: 18px;
}
.jacket-content h4 {
  font-size: 24px;
  font-weight: 700;
  color: var(--text-color1);
}
.jacket-content p {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color2);
  margin: 12px 0;
}
.man-jacket-container {
  max-width: 1190px;
  margin: 100px auto;
}
.buy-now {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buy-now .btn {
  font-size: 16px;
  font-weight: 500;
}
.buy-now .btn i {
  font-size: 18px;
  margin-right: 8px;
}
.buy-now h4 {
  font-size: 36px;
  font-weight: 900;
  color: var(--bg2-color);
}

/* Help and support section */
.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  max-width: 1190px;
}
.info-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.info-item {
  display: flex;
  align-items: center;
  width: 489px;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
  background: rgb(255, 255, 255);
}
.icon {
  margin-right: 35px;
}
.icon img {
  width: 79px;
}
.text h2 {
  margin: 0 0 10px 0;
  font-size: 1.5em;
  font-weight: 700;
  color: var(--text-color1);
}
.text p {
  margin: 0;
  font-size: 1em;
  font-weight: 400;
  color: var(--text-color2);
}

.shopping-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 2px dashed #ddd;
  border-radius: 10px;
  margin-left: 85px;
}
.shopping-section img {
  max-width: 100%;
}

/* Footer Content */
footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.footer-container {
  width: 85%;
  max-width: 1190px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.footer-section {
  flex: 1;
  margin: 0 20px;
}

.footer-section h3 {
  color: #fff;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.footer-section p {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 20px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #737373;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #fff;
}

.footer-bottom {
  width: 85%;
  max-width: 1190px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid #444;
  margin-top: 20px;
}

.footer-bottom p {
  font-size: 1em;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  margin: 0 10px;
  color: #737373;
}

.social-icons i {
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  border-radius: 100%;
  background-color: #33353d;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .nav-icon {
    display: block;
    color: var(--text-color1);
  }

  .nav-icon i {
    font-size: 35px;
    margin-right: 20px;
  }

  nav ul {
    display: none;
  }

  section {
    margin: 80px 25px;
  }

  #banner {
    height: auto;
    padding: 0 50px;
  }

  .home-container {
    flex-direction: column;
    gap: 40px;
    margin-top: 25px;
  }

  .home-content {
    width: 100%;
  }

  .home-title {
    font-size: 60px;
    font-weight: 400;
  }

  .home-description {
    width: 100%;
  }

  .home-image {
    padding: 25px;
  }

  .jackets {
    flex-direction: column;
    gap: 50px;
  }

  .jacket {
    width: auto;
    height: auto;
    max-width: 500px;
  }
  .jacket-image {
    width: auto;
  }
  .jacket-image img {
    width: 100%;
    height: auto;
  }
  .section-title {
    text-align: center;
  }

  .info-container {
    flex-direction: column;
  }

  .shopping-section {
    margin-left: 0;
    margin-top: 40px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .info-item {
    width: 100%;
  }
}

@media (max-width: 480px) {
  footer {
    padding: 30px 0 15px;
  }

  .footer-section {
    margin: 0 10px;
  }
  .footer-container,
  .footer-bottom {
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
  }
  .social-icons i {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}
